@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #121212;
  color: white;
  font-size: larger;
  font-family: "Pixelify Sans", cursive;
}

.link {
  transition: color 0.3s;
}

.active {
    border-bottom:5px yellow solid;
}

