@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #121212;
  color: white;
  font-size: larger;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 5px; 
  height: 5px; 
}

::-webkit-scrollbar-track {
  background: hsl(240, 1%, 17%);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ffdb70;
  border-radius: 5px;
}

::-webkit-scrollbar-button { width: 20px; }

.link {
  transition: color 0.3s;
}
